
    <div id="mc_embed_shell text-center mx-auto">
      
      <div id="mc_embed_signup">
          <form action="https://mikelovinpunch.us16.list-manage.com/subscribe/post?u=d08f2f6847f0c98cd71b7280f&amp;id=9db8ec41d4&amp;f_id=00f9c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
              <div id="mc_embed_signup_scroll">
                <div class="flex items-center justify-center md:flex-row flex-col md:space-y-0 space-y-1 md:space-x-1 space-x-0">
                    <div class="mc-field-group"><input type="email" name="EMAIL" placeholder="EMAIL" class="required email border border-black uppercase font-sans rounded-full pl-6 py-4" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"> <input type="text" name="FNAME" placeholder="First Name" class="border border-black uppercase font-sans rounded-full pl-6 py-4 text" id="mce-FNAME" value=""></div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                <input type="text" name="b_d08f2f6847f0c98cd71b7280f_9db8ec41d4" tabindex="-1" value="">
            </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="bg-bright uppercase font-sans rounded-full lg:px-36 md:px-28 px-[4.5rem] py-4 -mt-1 -ml-1" value="Subscribe">
            
                    </div>
                </div>
            </div>
          </div>
      </form>
      </div>
      </div>

    